.popover li {
    list-style: none;
    padding: 0.5rem;
    border-bottom: 1px solid #dfdfdf;
    text-align: center;
}

.popover li {
    list-style: none;
    padding: 0.5rem;
    border-bottom: 1px solid #dfdfdf;
    text-align: center;
}

.popover ul {
    padding: 0;
    margin: 0;
}

.popover {
    max-width: 200px;
    border: 1px solid #dddddd;
    position: relative;
    top: 2.5px;
    overflow: auto;
}

.highlight {
    font-weight: 800;
}

.search-field {
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.search-field input {
    border: none;
    min-height: 40px;
    font-size: 14px;
}

.search-field input:focus {
    outline: none;
}